PORT=3001
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/phenox?retryWrites=true&w=majority
CLERK_SECRET_KEY=sk_test_...
CLERK_PUBLISHABLE_KEY=pk_test_...

# Layer-1 blockchain anchoring config (example: Ethereum Sepolia)
L1_CHAIN_NAME=ethereum-sepolia
L1_RPC_URL=https://sepolia.infura.io/v3/<your_project_id>
L1_PRIVATE_KEY=0x<backend_wallet_private_key>
L1_REGISTRY_CONTRACT=0x<deployed_registry_contract_address>
L1_REGISTRY_METHOD=registerBatch
L1_CONFIRMATIONS=1
L1_STRICT_MODE=false
